# Read the documentation before using the `docker-compose.yml` file:
# https://docs.searxng.org/admin/installation-docker.html
#
# Additional ENVs:
# https://docs.searxng.org/admin/settings/settings_general.html#settings-general
# https://docs.searxng.org/admin/settings/settings_server.html#settings-server

# Use a specific version tag. E.g. "latest" or "2026.3.25-541c6c3cb".
SEARXNG_VERSION=latest

# Listen to a specific address.
SEARXNG_HOST=[::]

# Listen to a specific port.
SEARXNG_PORT=8080


# not sure if these below have any impact maybe config file is needed /etc/searxng/settings.yml and /etc/searxng/limiter.toml
SEARXNG_LIMITER=true
SEARXNG_VALKEY_URL=valkey://valkey:6379/0
# SEARXNG_SECRET=replace-with-a-generated-secret
# SEARXNG_IMAGE_PROXY=true